/* Styles for tables */

table {
    border-collapse: collapse;
    border: 1px solid #000;
    width: 100%;
    margin: 15px;
}

/*
tr {
    vertical-align: top;
}
*/

tr:nth-child(even) {
    background-color: lightgrey;
    color: black;
}

thead tr {
    background-color: darkmagenta;
    color: #fff;
}

td, th {
    border: 1px solid #000;
    padding: .5em;
}
.col1{
    width: 10%;
    
}

/*desktop responsive */
@media all and (min-width:1400px) {
    section {
        width: auto;
        display: block;
        float: left;
        margin-right: 30px;
}   
}
/* TABLET */
@media all and (min-width:680px) and (max-width:1399px) {
        section {
        width: 90%;
        display: block;
        float: left;
        margin-right: 15px;
}   
}

/*vertical responsive */
@media screen and (max-width:680px) {
table, thead, tbody, th, td, tr, caption{
    display: block;
    width: auto;
}   
    section {
        margin: 15px 15px;  
    }
thead th{
    display: none;
} 
table tr:nth-of-type(even) {
    background-color: rgba(102, 51, 121, .25);
    
}
td {
    border: none;
    position: relative;
    border: 1px solid #000;
    text-align: left;
    
}
tr:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left; 
}
td:nth-of-type(1):before {
    content: "Name:";
    font-weight: 200;
    
}

td:nth-of-type(2):before {
    content: "Description:";
    font-weight: 200;
}

td:nth-of-type(3):before {
    content: "Cost:";
    font-weight: 200;
}

}
